<div id="league">
<% if @league["#{params[:summonerID]}"] %>

  <h1 id="leagueheading"> <%= @league["#{params[:summonerID]}"][0]["name"] %> </h1>

  <p class="tier"> <%= @league["#{params[:summonerID]}"][0]["tier"] %> <%= @league["#{params[:summonerID]}"][0]["entries"][0]["division"] %> </p>
  <p class="leaguedetails"><%= @league["#{params[:summonerID]}"][0]["queue"] %> </p>
  <p class="leaguedetails"> Wins: <%= @league["#{params[:summonerID]}"][0]["entries"][0]["wins"] %> </p>
  <p class="leaguedetails"> Losses: <%= @league["#{params[:summonerID]}"][0]["entries"][0]["losses"] %> </p>

<%elsif @league["status"]["status_code"] == 404 %>

  <p> This player has not joined a league. </p>

<%end%>

</div>
