<div id ="recent_matches">

<h1 id="recent_matches_heading"><b> Recent Matches </b></h1>
<!-- <p><%= @recent.inspect %></p> -->

<% @recent["games"].each do |recent| %>
    <h2 class="match_stats"> Game Statistics </h2>

    <div class="substats">

    <p class="statdetails"><%= recent["gameMode"] %> <%= recent["gameType"] %> </p>
    <p class="statdetails"> Sub Game Type: <%= recent["subType"] %> </p>
    <p class="statdetails"> Map: <%= recent["mapId"] %> </p>
    <% if recent["stats"]["win"] == true %>
      <p class="statdetails"> WL: Win </p>
    <% else %>
      <p class="statdetails"> WL: Loss </p>
    <%end%>
    <p class="statdetails"> IP Earned: <%= recent["ipEarned"] %> </p>
    <p class="statdetails"> Time Played: <%= recent["stats"]["timePlayed"]/60 %> minutes </p>
    <p class="statdetails"> Match Created: <%=Time.at(recent["createDate"]/1000).strftime("%H:%M %m/%d/%Y")%> </p>

    <br/>

    <p class="statdetails2"> Champion: <%= Champion.find_by(:champion_id => recent["championId"]).champion_name %> </p>
    <p class="statdetails2"> Level: <%= recent["stats"]["level"] %></p>
    <p class="statdetails2"> KDA: <%=recent["stats"]["championsKilled"]%>/<%=recent["stats"]["numDeaths"]%>/<%=recent["stats"]["assists"]%> </p>
    <p class="statdetails2"> Minion Kills: <%= recent["stats"]["minionsKilled"] %></p>
    <p class="statdetails2"> Largest Multi-kill: <%= recent["stats"]["largestMultiKill"] %></p>
    <p class="statdetails2"> Total Damage Dealt to Champions: <%= recent["stats"]["totalDamageDealtToChampions"] %></p>
    <p class="statdetails2"> Total Damage Dealt: <%= recent["stats"]["totalDamageDealt"] %></p>
    <p class="statdetails2"> Gold Earned: <%= recent["stats"]["goldEarned"] %> </p>
    <p class="statdetails2"> Spell 1: <%= Spell.find_by(:spell_id => recent["spell1"]).spell_name %> Spell 2: <%= Spell.find_by(:spell_id => recent["spell2"]).spell_name %> </p>

    <p class="statdetails2"> Item 1: <%= Item.find_by(:item_id => recent["stats"]["item0"]).item_name %></p>
    <p class="statdetails2"> Item 2: <%= Item.find_by(:item_id => recent["stats"]["item1"]).item_name %></p>


  </div>
    <!-- <p> Stats: <%= recent["stats"] %> </p> -->
    <!-- <p> Players: <%= recent["fellowPlayers"] %> </p> -->

<%end%>

</div>
