<div id="runes">

<h1 id="runes_heading"><b> Runes </b></h1>
<!-- <p><%= @runes.inspect %><p> -->
<!-- <%= @runes["#{params[:summonerID]}"].inspect %> -->

<% if @runes["#{params[:summonerID]}"]["pages"] %>
  <% @runes["#{params[:summonerID]}"]["pages"].each do |runes| %>
      <p class="runes_category"><b><%= runes["name"] %> </b></p>

      <% if runes["current"] == true %>
        <p class="runes_current"> Current: Yes </p>
      <% else %>
        <p class="runes_current"> Current: No
      <% end %>

      <% i = 0 %>
      <% if runes["slots"] %>
        <% while i < runes["slots"].length %>
          <p>Slot <%= runes["slots"][i]["runeSlotId"] %>: <%= runes["slots"][i]["runeId"] %></p>
          <% i += 1 %>
        <%end%>
      <%end%>
  <%end%>

<%else @runes["status"]["status_code"] == 404 %>
  <p> This player does not have any runes. What a noob! </p>
<%end%>
</div>
