<div id="playerstats">

<h1 id="summoner_name"> <%=params[:summonerName]%> </h1>
<!-- <p><%= @summoner["#{params[:summonerName]}"].inspect %></p> -->

<!-- <p><b> Summoner Details </b></p> -->

<p class="level">Level <%= @summoner["#{params[:summonerName]}"]["summonerLevel"] %></p>

<p><a class="statslink" href = "/queue/<%=@summoner["#{params[:summonerName]}"]["id"]%>"> Wins </a></p>

<p><a class="statslink" href = "/league/<%=@summoner["#{params[:summonerName]}"]["id"]%>"> League </a></p>

<p><a class="statslink" href = "/masteries/<%=@summoner["#{params[:summonerName]}"]["id"]%>"> Masteries </a></p>

<p><a class="statslink" href = "/runes/<%=@summoner["#{params[:summonerName]}"]["id"]%>"> Runes </a></p>

<p><a class="statslink" href = "/recent/<%=@summoner["#{params[:summonerName]}"]["id"]%>"> Recent Matches </a></p>

</div>
