<!DOCTYPE html>
<html>
<head>
  <title>LolProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto+Slab|Merriweather|Arvo|Sigmar+One|Pacifico|Play' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Allan:bold' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Corben:bold' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>


</head>
<body>

  <div id="snow">

    <header class="nav">
      <ul>
        <!-- <li class="logo"> LOLward </li> -->
        <!-- <img class='logo' src="http://s33.postimg.org/az6btpr5r/lol_logo2.jpg" alt=""> -->
        <li> <%= link_to 'Home', root_path, class: 'nav_text' %> </li>
        <li><%= link_to 'Community', accounts_path, class: 'nav_text' %></li>

        <% if logged_in? %>
        <li class="welcome_user">Welcome, <%= current_user.name %>! </li>
        <li> <%= link_to 'Logout', login_path, class: 'nav_text', :method => :delete, :data => {
          :confirm => 'Are you sure?'} %> </li>

        <%else%>
        <li><%= link_to 'Login', login_path, class: 'nav_text' %></li>
        <li><%= link_to 'Sign Up', new_account_path, class: 'nav_text' %></li>
        <%end%>

      </ul>
    </header>


<%= yield %>
  </div>

</body>
</html>
