<!DOCTYPE html>
<html>
<head>
  <title>LolProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto+Slab|Merriweather|Arvo|Sigmar+One|Pacifico|Play' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Allan:bold' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Corben:bold' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Shadows+Into+Light|Architects+Daughter|Kaushan+Script|Courgette|Permanent+Marker|Rock+Salt' rel='stylesheet' type='text/css'>


</head>
<body>

  <div id="snow">

    <header class="nav">
      <ul>
        <!-- <li id="logo"> LW </li> -->
        <span class="nav-left">
        <li> <%= link_to 'Home', root_path, class: 'nav_text' %> </li>
        <li> <%= link_to 'About', about_path, class: 'nav_text' %> </li>
        <li><%= link_to 'Community', accounts_path, class: 'nav_text' %></li>
        </span>

        <% if logged_in? %>
          <li><a class="welcome_user" href="/accounts/<%=current_user.id%>">Welcome, <%= current_user.name %>!</a></li>
          <li><a href="<%=conversations_path%>" class="nav_text"> Inbox (<%=notifications%>)</a> </li>  <!--the notifications here refers to the notification helper which runs the logic to spit out the counter number-->
          <li> <%= link_to 'Logout', login_path, class: 'nav_text', :method => :delete %> </li>

          <%else%>
          <li><%= link_to 'Login', login_path, class: 'nav_text' %></li>
          <li><%= link_to 'Sign Up', new_account_path, class: 'nav_text' %></li>
        <%end%>

      </ul>
    </header>


<%= yield %>
  </div>

</body>
</html>
