<h1> JOIN US, SUMMONER! </h1>

<%= form_for :account, url: accounts_path do |f| %>    <!--generate a form for table account.  :url is saying, when you submit, your data will go to the url '/account'-->
    <p>Username: <%=f.text_field :name %> </p>
    <p>LoL IGN: <%=f.text_field :lol_username %> </p>
    <p>Email: <%=f.text_field :email %> </p>
    <p>Password: <%=f.password_field :password %> </p>
    <p>Password Confirmation: <%=f.password_field :password_confirmation %> </p>
    <p>State: <%=f.text_field :state %></p>
    <p>Favourite Champion: <%=f.text_field :fav_champion %> </p>
    <p>Favourite Position: <%=f.text_field :fav_position %></p>
    <p>Favourite Game Mode: <%=f.text_field :fav_gamemode %></p>
    <p>Favourite Item: <%=f.text_field :fav_item %></p>

    <p><%= f.submit 'SIGN UP', class: 'signup_button '%></p>
<% end %>

<p><%= button_to 'CANCEL', root_path, method: :get %> </p>

<% if flash[:errors] %>
  <p><%= flash[:errors] %></p>
<%end%>
