<div id="summonerdetail">

  <h1 class="summonerdetailheading"> <%= @account.name %> </h1>


  <p class="summonerdetails_label"> Name </p>
  <p class="summonerdetails_answer"> <%= @account.name %> </p>

  <p class="summonerdetails_label"> League of Legends Username </p>
  <p class="summonerdetails_answer"><%= @account.lol_username %> </p>

  <P class="summonerdetails_label"> State  </p>
  <p class="summonerdetails_answer"><%= @account.state %></p>

  <P class="summonerdetails_label"> Favourite Champion </p>
  <p class="summonerdetails_answer"><%= @account.fav_champion %> </p>

  <P class="summonerdetails_label"> Favourite Role  </p>
  <p class="summonerdetails_answer"><%= @account.fav_position %></p>

  <P class="summonerdetails_label"> Favourite Gamemode  </p>
  <p class="summonerdetails_answer"><%= @account.fav_gamemode %></p>

  <P class="summonerdetails_label"> Favourite Item  </p>
  <p class="summonerdetails_answer"><%= @account.fav_item %></p>

  <form action = "/search" method = "POST">
    <input class="stalkhere" type="text" name="summonerName" placeholder="Stalk this summoner here">
    <button class="stalkheresubmit" type="submit" name="button" >Search</button>
  </form>

  <%if current_user && @account.id == current_user.id %> <!--if the account id of this profile is the same as the person logged in right now(current user's id), then show the edit and delete button for this person -->
    <%= button_to edit_account_path(@account), class: 'edit_profile', method: :get do %>
      <i class="fa fa-pencil-square-o fa-2x"></i>
    <%end%>

    <%= button_to account_path(@account), class: 'delete_profile', method: :delete do %>
      <i class="fa fa-trash-o fa-2x"></i>
    <%end%>
  <%end%>

  <%if current_user %>
    <%= link_to conversations_path(sender_id: current_user.id, recipient_id: @account), class: 'message_profile', method: 'post' do %>
      <i class="fa fa-comments-o fa-2x"></i>
    <%end%>
  <%end%>

</div>

  <p><%= button_to 'Back', accounts_path(@account), class: 'back_to_list', method: :get %></p>
