<div id="summonerdetail">

  <h1 class="summonerdetailheading"> <%= @account.lol_username %> </h1>


  <p class="summonerdetails_label"> Name </p>
  <p class="summonerdetails_answer"> <%= @account.name %> </p>

  <p class="summonerdetails_label"> League of Legends Username </p>
  <p class="summonerdetails_answer"><%= @account.lol_username %> </p>

  <P class="summonerdetails_label"> State  </p>
  <p class="summonerdetails_answer"><%= @account.state %></p>

  <P class="summonerdetails_label"> Favourite Champion </p>
  <p class="summonerdetails_answer"><%= @account.fav_champion %> </p>

  <P class="summonerdetails_label"> Favourite Role  </p>
  <p class="summonerdetails_answer"><%= @account.fav_position %></p>

  <P class="summonerdetails_label"> Favourite Gamemode  </p>
  <p class="summonerdetails_answer"><%= @account.fav_gamemode %></p>

  <P class="summonerdetails_label"> Favourite Item  </p>
  <p class="summonerdetails_answer"><%= @account.fav_item %></p>

  <form action = "/search" method = "POST">
    <input type="text" name="summonerName" placeholder="Stalk this summoner here">
    <button type="submit" name="button" >SEARCH</button>
  </form>

  <p><%= button_to 'EDIT', edit_account_path(@account), method: :get %> <%= button_to 'DELETE', account_path(@account), method: :delete %></p>

  <p><%= button_to 'BACK', accounts_path(@account), method: :get %></p>

</div>
